<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <img src="/logo.png" alt="logo">

        <div class="d-flex align-items-center d-lg-none ms-auto">
            <button class="btn btn-primary rounded-pill px-4 me-2">Download App</button>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav align-items-center gap-2">
                <a class="nav-link" href="#">Home</a>
                <a class="nav-link" href="#">About</a>
                <a class="nav-link" href="#">Services</a>
                <a class="nav-link" href="#">Contacts and FAQ</a>
            </div>
        </div>
        <button class="btn btn-primary rounded-pill px-4 ms-5 d-none d-lg-block">Download App</button>
    </div>
</nav>