<footer>
    <div class="container-fluid">
        <div class="top">
            <div class="left">
                <h2>Speak with one of our health <br/> experts to discover how Cuddle <br/> mind can support your wellness <br/> journey.
                </h2>
            </div>
            <div class="right">
                <p>Start your health journey with Cuddle mind today. <br />
                    Your health, your data, your power.</p>
                <button class="btn">Get Started For Free</button>
            </div>
        </div>

        <div class="divider"></div>

        <div class="bottom">
            <div class="left">
                <div class="img">
                    <img src="/footer.png" alt="">
                </div>
                <div class="copy">
                    Copyright 2024 Healix. All Rights Reserved.
                </div>
            </div>
            <div class="right">
                <div class="icons">
                    <i class="bi bi-facebook"></i>
                    <i class="bi bi-twitter-x"></i>
                    <i class="bi bi-linkedin"></i>
                </div>
                <div class="nav">
                    <div class="nav1">
                        <a href="">About</a>
                        <a href="">Help Center</a>
                        <a href="">Privacy Policy</a>
                    </div>
                    <div class="nav2">
                        <a href="">Blogs</a>
                        <a href="">Contact & FAQs</a>
                        <a href="">Terms of Service</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>